@model ForgotPasswordModel

@{
    ViewData["Title"] = "Account ForgotPassword";
}

<section class="p-2 bg-light" style="min-height:90vh">
    <div class="container">
        <div class="card shadow mx-auto" style="max-width:400px; margin-top:40px;">
            <div class="card">
                <div class="card-body">
                    
                    @if (Model?.EmailSent == true)
                    {
                        <h6 class="mb-4 alert alert-success">
                            If you are registered with us, We have sent an email on your registered email id
                        </h6>
                    }
                    else
                    {
                        <h4 class="mb-4">Change your password</h4>
                        <form asp-action="ForgotPassword" method="post" asp-antiforgery="true">

                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <a class="float-end" href="#">Need Help?</a>
                                <input class="form-control" asp-for="Email" type="email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div> <!-- col end.// -->

                        <button type="submit" class="btn w-100 btn-primary"> Continue </button>

                        </form> <!-- form end.// -->
                    }

                    <p class="text-divider my-4">Want to get back?</p>
                    <a asp-action="Login" class="btn w-100 btn-light">Login</a>

                </div> <!-- card-body end.// -->
            </div> <!-- card end.// -->
        </div>
        <br /><br />
    </div> <!-- container .//  -->
</section>