@model ChangePasswordModel

<section class="p-2 bg-light" style="min-height:90vh">
<div class="container">
<div class="card shadow mx-auto" style="max-width:400px; margin-top:40px;">
<div class="card">
	<div class="card-body">
		<h4 class="mb-4">Change your password</h4>
		<form asp-action="ChangePassword" method="post" asp-antiforgery="true">
			<div class="mb-3">
				<label class="form-label">Current Password</label>
				<input class="form-control" asp-for="CurrentPassword" placeholder="******" type="password">
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</div> <!-- col end.// -->

			<div class="mb-3">
				<label class="form-label">New Password</label>
				<a class="float-end" href="#">Need Help?</a>
				<input class="form-control" asp-for="NewPassword" placeholder="******" type="password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
			</div> <!-- col end.// -->

            <div class="mb-3">
				<label class="form-label">Confirm New Password</label>
				<input class="form-control" asp-for="ConfirmNewPassword" placeholder="******" type="password">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			</div> <!-- col end.// -->

			<button type="submit" class="btn w-100 btn-primary"> Change </button>
			 
		</form> <!-- form end.// -->

		<p class="text-divider my-4">Want to get back?</p>
		<a asp-action="Settings" class="btn w-100 btn-light">Take Me</a>

	</div> <!-- card-body end.// -->
</div> <!-- card end.// -->
</div>
<br /><br />
</div> <!-- container .//  -->
</section>